<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Make a poll</title>

    <!-- Bootstrap core CSS -->
 

    <!-- Custom styles for this template -->
  

  </head>

  <body>


      <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <%= form_for(:poll, :url => {:action => "poll_new"}) do |f|  %>
       
        <h2 class="form-signin-heading">Create Poll </h2>
        <div class="line"> </div>
        <%= f.text_field(:question, :placeholder => "Question", :class => 'form-control')%>
        <br>
        <%= f.date_select(:end_date, :order => [:month, :day, :year], :prompt =>true, :start_year => 2014, :end_year =>2050, :class => 'form-control') %>
        <h2 class = "form-signin-heading"> Specify Options </h2>
        <div class ="line"></div>
        <%= f.text_field(:option1, :placeholder => "Option 1", :class => 'form-control' )%>
         <br>
        <%= f.text_field(:option2, :placeholder => "Option 2", :class => 'form-control' )%>
         <br> 
         <%= f.text_field(:option3, :placeholder => "Option 3", :class => 'form-control' )%>
        <br>
         <%= f.text_field(:option4, :placeholder => "Option 4", :class => 'form-control' )%>
        <br>
         <%= f.text_field(:option5, :placeholder => "Option 5", :class => 'form-control' )%>
        <br>
        <br>
        <%= submit_tag("Submit Poll", :class => 'btn btn-lg btn-success btn-block') %>
      <% end %>
      </div>
      </div>


<!--AAAAAAAAAA-->

  <!--AAAAAAAAAA-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
