<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min" %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "signin" %>
    <%= stylesheet_link_tag "font-awesome.min"%>
  </head>

  <body>
    <div class="loginback">
 
    <div class="col-md-3 col-md-offset-3" style="margin-top:100px; background:#FFFFFF; box-shadow:0px 0px 10px #666666; border:1px solid #CCCCCC;opacity: 0.8;filter:alpha(opacity=80);">   
      <%= form_for(:user, :url => {:action => "login_attempt"}) do |f|  %>
       
       <table align="center">
         <tr align="center">
          <td colspan="2">
              <h2 class="form-signin-heading">LOGIN </h2>
          </td>   
         </tr>
         <tr align="center">
           <td colspan="2">
              <div class="line"> </div>
           </td>
        </tr>
        <tr align="center">
            <td colspan="2">
              <span class="error" align="center" ><%= flash[:msg]  %></span>
            </td>
        </tr>
        <tr>
          <td colspan="2">
            <br>
          </td>
        </tr>
 
        <tr>
          <td align="left">
              <i class="fa fa-lock">&nbsp;&nbsp;</i>
          </td>

          <td align="left">
              <%= f.text_field(:username,  :size =>25, :maxlength=> 25, :placeholder => "Username", :class => 'form-control')%>
          </td>
        </tr>
        <tr>
        <td colspan="2"> 
          <br>
        </td>
        </tr>
        <tr >
          <td align="left">
            <i class="fa fa-key">&nbsp;&nbsp;</i>
          </td>
          <td align="left">
              <%= f.password_field(:password, :size => 25, :maxlength=>25, :placeholder => "Password", :class => 'form-control' )%>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br>
          </td>
        </tr>
        <tr align="left">
          <td colspan="2">
            <div >
              <label>
               <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
          </td> 
        </tr>
        <tr align="center">
          <td colspan="2">
            <br>
          </td>
        </tr>
        <tr align="center">
          <td colspan="2">
          <%= submit_tag("Login", :class => 'btn btn-lg btn-success btn-block', controller: "connect", action: "login_attempt")%>
             <% end %>
          </td>
        </tr>
       </table>
        


    </div> <!-- /container -->
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
