<html>


	<div class="col-md-6 col-md-offset-2" style="margin-top:50px; background:#FFFFFF; box-shadow:0px 0px 10px #666666; border:1px solid #CCCCCC;opacity: 0.8;filter:alpha(opacity=80);">
		<h2>	<%= @user.first_name  %>&nbsp;<%= @user.last_name%></h2>

		</br>
		<%= image_tag @user.pic.url(:medium) %>
		
		</br></br>
		<b>LinkedIn:</b>
		<%= @user.linked_in  %>
		</br></br>
		<b>Date of Birth:</b>
		<%= @user.date_of_birth%>
		</br></br>
		</br>
		<b>Sex:</b>
		<%= @user.gender  %>
		</br></br>
		<b>Bio:</b>
		<%= @user.about_me%>
		</br></br>
		<b>Contact No:</b>
		<%= @user.contact_no  %>
		</br></br>
		<b>Email Id</b>
		<%= @user.email%>
		</br></br>
		
		<% if(@user.id==session[:user_id]) %>
		<%= link_to("Edit Profile", edit_user_path(@user), :class => 'action edit')%>
		<%end%>
			

		



	</div>
			
</html>