<html>

	<%= @page_title= "Profile Page" %>

	<%= link_to("Homepage", controller: "home", action: "home_page")%>
	<div >
		<h2>User Details</h2>

		</br>
		<u><h4>Name:</h4></u>
		<%= @user.first_name  %>
		
		<%= @user.last_name%>
		</br></br>
		<u><h4>LinkedIn:</h4></u>
		<%= @user.linked_in  %>
		</br></br>
		<u><h4>Date of Birth:</h4></u>
		<%= @user.date_of_birth%>
		</br></br>
		</br>
		<u><h4>Sex:</h4></u>
		<%= @user.gender  %>
		</br></br>
		<u><h4>Bio:</h4></u>
		<%= @user.about_me%>
		</br></br>
		<u><h4>Contact No:</h4></u>
		<%= @user.contact_no  %>
		</br></br>
		<u><h4>Email Id</h4></u>
		<%= @user.email%>
		</br></br>
		
		<%= link_to("Edit Profile", edit_user_path(@user), :class => 'action edit')%>
		
			

		



	</div>
			
</html>