<br>
<%= link_to 'Add Doc', new_doc_user_path, class: "btn btn-primary" %>
<br>
    <div class="col-md-7 col-md-offset-3" style="margin-top:40px; background:#FFFFFF; box-shadow:0px 0px 10px #666666; border:1px solid #CCCCCC;opacity: 0.8;filter:alpha(opacity=80);">  
<center><h2>Documents</h2></center>

<table align="center" width="100%">
  <tr>
    <td > <b>
      Name</b>
    </td>
    <td > <b>
      Email</b>
    </td>
  </tr>

   <div class="line"> </div>


<% @doc_users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>

    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

</div>
